.bg-blue {
    background-color: #2e73fe;
}

.navbar {
    padding-bottom: 5rem;
}

#hero {
    height: 20rem;
    width:  20rem;
}

.bigger-icon {
    font-size: 5rem;
    color: #2e73fe;
    border: 5px solid black;
    background-color: white;
}

.custom-card {
    height: 100%;
    width: 100%;
    border: 2px solid white;
}

.border-black-custom {
    border: 5px solid black;
}

html {
    scroll-snap-type: y mandatory ;
}

section {
    scroll-snap-align: start;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.accordion-button:not(.collapsed) {
    background-color: #2e73fe;
}
.accordion-button:not(.collapsed) {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#formsubmit {
    width: 8rem;
}

label {
    font-style: italic;
    font-size: small;
}

input[type = "text"] {
    border: 1px solid black;
}

#message {
    border: 1px solid black;
}


